
Join the game!

<form method="POST" action="/game/players">
  Name: <input type="text" placeholder="Your name" /><br/>
  Photo: <input type="image" /><br/>
  <button type="submit">Join</button>
</form>
